*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    padding: 10px;
    margin: 10px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:crimson;
    color: white;
}
form{
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h2{
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background-color: aqua;
    color: black;
    width: 100px;
    height: 70px;
    border-radius: 20px;
}
img{
    border: 2px  solid black;
    box-shadow: 2px 2px 2px blue;
}
